* {
    
    margin: 0;
    padding: 0;
}

body{
    background-color: #0D1A2D;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.card{
    background-color: #15273F;
    width: 350px;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 20px;

    .box_image{
        padding-bottom: 1.5rem;
        position: relative;

        .div_hide{
            background-color: #00fff771;
            position: absolute;
            width: 100%;
            aspect-ratio: 1;
            text-align: center;
            background-image: url(../../images/icon-view.svg);
            background-repeat: no-repeat;
            background-position: center;
            opacity: 0;
            transition: .2s linear;
        }

        .card_image{
            width: 100%;
            border-radius: 3%;
        }
        &:hover .div_hide{
            opacity: 1;
            transition: .2s linear;
        }
    }
    
    .title{
        color: #fff;
        text-decoration: none;
        font-family: 'Montserrat';
        font-size: 24px;
        &:hover{
            color: #00FFF8;
        }
    }

    .description{
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 18px;
        color: #879BB9;
        padding-top: 1.5rem;
        line-height: 30px;
    }

    &_info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-family: 'Montserrat';
        border-bottom: 1px solid #2B3D55;
        padding: 2rem 0rem;

        div:nth-child(1){
            display: flex;
            align-items: center;
            color: #00FFF8;
            font-weight: 600;
            letter-spacing: 1px;

            img{
                padding-right: 0.5rem;
            }
        }

        div:nth-child(2){
            display: flex;
            align-items: center;
            color: #8BACD9;
            font-weight: 400;

            img{
                padding-right: 0.5rem;
            }
        }
        
    }

    &_avatar{
        display: flex;
        align-items: center;
        padding-top: 1rem;
        font-family: 'Montserrat';

        img{
            width: 10%;
            border: 1px solid white;
            border-radius: 50%;
        }

        p{
            padding-left: 1rem;
            color: #879BB9;
            a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: #00FFF8;
                }
            }
        }
    }
}